/*  Step-1.1 You don't need to put a position on this element because it is already at the top of the screen */

.header {
    width: 100%;
    height: 100px;
    background: #D8D8D8;

}

/* Step-1.2 I would suggest using float to get this container in its desired location*/

.content-left {
    width: 33.3%;
    /*this height is a placeholder. You will need to make some adjustments to get this container to look like the design */
    height: 535px;
    background: #565555;
    float: left;
}


/* Step-1.3 I would suggest using float to get this container in its desired location. */

.content-mid {
    width: 66.6%;
    /*this height is a placeholder. You will need to make some adjustment to get this container to look like the design */
    height: 535px;
    background: #B0B0B0;
    float: left;

}

/* Step-1.4 you're going to want to add a positioning property to get this container to the bottom of the screen  */

.footer {
    width: 100%;
    height: 100px;
    background: #333;
    position: absolute;
    padding: 35px;
    font-size: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    vertical-align: center;

}

.logo-container {
    width: 26%;
    height: 60px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    background: #4F4949;
}
/* Step-2.1 add styles to match the step-2 design */

.menu-container {
    width: 60px;
    height: 60px;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    background: #4F4949;
}
/* Step-2.1 add styles to match the step-2 design */

.profile-image-container {
    width: 80%;
    height: 180px;
    margin: 35px 10%;
    background: #96F0F2;
}

/* Step-2.1 add styles to match the step-2 design */

.profile-links-container {
    width: 80%;
    height: 250px;
    margin: 20px 10%;
    background: #12F3F7;
}
.content-mid-header {
    height: 100px;
    background: #444;
}

.content-container {
    width: 80%;
    margin: 40px auto;
    background: #D8D8D8;
}

.content {
    height: 275px;
    padding:50px;
    text-align: center;

}